/* 
relaxtv.mx Relax StyleSheet
v1.0
Author: Reznor - http://relaxtv.mx 
Twitter: @relaxtv
*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background-color: #D8EAFF;
}


/* HEADER */

/* menuTop */
#menuTop {
	background-color: #393939;
	
}
#menuTop ul {
	margin: 0 auto;
	font-size: 1.6em;
	font-weight: 300;
	color: #fff;
	width: 900px;
}
#menuTop ul li.active {
	font-weight: 600; 
}
#menuTop ul li {
	display: inline-block;
	margin: 21px 17px;
}


/* SLIDER */
#sequence {
    height: 370px;
    position: relative;
    width: 900px;
}
#sequence > .sequence-canvas {
    height: 100%;
    width: 100%;
	list-style: none;
}
#sequence > .sequence-canvas > li {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
#sequence > .sequence-canvas li > * {
    position: absolute;
}
#sequence #sequence-preloader {
    background: none repeat scroll 0 0 #FFFFFF;
}
#sequence .class-name, #sequence .sequence-class {
    font-size: 0.8em;
}
#sequence .hello, #sequence .whatisit, #sequence .info3 {
    
}
#sequence .hello {
	width: 100%;
	top:120px;
	
}
#sequence .hello > div {
	display: inline-block;
	vertical-align: middle;
}
#sequence .hello > div > p.hola {
	font-size: 5em;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-style: italic;
	color: #fff;
	font-weight: bold;
}
#sequence .whatisit {
	font-size: 1.5em;
	color: #fff;
    font-weight: 100;
    width: 400px;
}
#sequence .logo {
	display: inline-block;
	background-image: url('../assets/img/relax-logo.png');
	width: 415px;
	height: 211px;
}

#sequence .animate-in .hello {
	left:0;
    opacity: 1;
    transition-duration: 1s;

}

#sequence .animate-out .hello {
	left: 4999px;
    transition-duration: 1s;
    overflow: hidden;
}

/* WRAPPER */

#wrapper-city {
	width: 100%;
	display: block;
	background-image: url('svg/city.svg'); 
	background-repeat: no-repeat;
	background-position: center center;
	height: 547px;
	position: relative;
	top: -329px;
	z-index: 0;
	float: inherit;
	overflow: hidden;
}
#wrapper {
	width: 100%;
	overflow: hidden;
	height: 448px;
	background: rgb(149,216,139);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1ZDg4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMjdjYmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(149,216,139,1) 0%, rgba(50,124,189,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,216,139,1)), color-stop(100%,rgba(50,124,189,1)));
	background: -webkit-linear-gradient(top,  rgba(149,216,139,1) 0%,rgba(50,124,189,1) 100%);
	background: -o-linear-gradient(top,  rgba(149,216,139,1) 0%,rgba(50,124,189,1) 100%);
	background: -ms-linear-gradient(top,  rgba(149,216,139,1) 0%,rgba(50,124,189,1) 100%);
	background: linear-gradient(to bottom,  rgba(149,216,139,1) 0%,rgba(50,124,189,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d88b', endColorstr='#327cbd',GradientType=0 );

}
/* CONTAINER */
#container {
	width: 900px;
	display: block;
	margin: 0 auto;
	z-index: 100;
	overflow: hidden;
}


#lastest {
	background-image: url('/assets/img/rlx_blur.jpg'); 
	width: 100%;
}
